
	*{
		padding:0;
		margin:0;
		box-sizing:border-box;
	}
	
			body{
				width:100%;
				font-family:'IRANSansXFaNum-Light';
				background-color:#F7F7F7;
			}
			
					.A{
						width:100%;
					}

							.A > div{
								width:100%;
							}
					
							.navigator{
								border-bottom:solid #CFD8DC 2px;
								display:flex;
								flex-wrap:wrap;
								justify-content: space-between;
								align-items: center;
								padding: 12px 20px;
							}
							
									.N1{
										width:345px;
										height:48px;
										display:flex;
										flex-wrap:wrap;
									}
									
											.N1 > div{
												height:48px;
												margin-right:8px;
											}
											
											.N1-1{
												width:177px;
											}
											
													.N1-1 a{
														display:block;
														height:48px;
														width:177px;
														text-decoration:none;
														display:flex;
														flex-wrap:wrap;
													}
													
															.N1-1 div{
																height:48px;
															}
													
															.N1-1-1{
																width:48px;
																background-image:url('../image/profile.png');
																background-size:100% 100%;
																border-radius:24px;
																margin-right:8px;
															}
															
															.N1-1-2{
																width:81px;
																margin-right:8px;
																font-size:14px;
																font-weight: bold;
																color:#191C1D;
																padding-top:7px;
															}
															
																	.N1-1-2 span{
																		font-size:10px;
																	}
															
															.N1-1-3{
																width:32px;
																background-image:url('../image/dropdown.svg');
																background-size:100% 100%;
															}
											
											.N1-2, .N1-3, .N1-4{
												width:48px;
												background-size:100% 100%;
											}
											.N1-2{
												background-image:url('../image/add.svg');
											}
											
											.N1-3{
												background-image:url('../image/calender.svg');
											}
											
											.N1-4{
												margin-right:0!important;
												background-image:url('../image/notification.svg');
											}
											
											.N1-2 a, .N1-3 a, .N1-4 a{
												display:block;
												height:100%;
												width:100%;
											}
									
									.N2{
										width:138px;
										height:50px;
									}
									
											.N2 a{
												display:block;
												width:138px;
												height:50px;
												background-image:url('../image/logo.svg');
											}
							
							.header{
								padding: 20px;
								width:214px;
								display: flex;
								justify-content: flex-end;
								
							}	
							
									.header a{
										display:flex;
										flex-wrap:wrap;
										text-decoration: none;
										align-items: center;
									}
								
											.matn1{
												width:105px;
												font-size:24px;
												font-weight: bold;
												color:#37474F;
											}
											
											.icon1{
												width:49px;
												height:49px;
												background-image: url('../image/back.svg');
												background-size: 100% 100%;
											}

							.container{
								display:flex;
								flex-wrap:wrap;
								padding: 0 25px 30px;
								justify-content: space-between;
							}
							
									.sidebar-left{
										width:21%;
									}
									
											.L1{
												width:100%;
												padding: 15px;
												border-radius:16px;
												background-color:#FFFFFF;
												color:#3F484A;
												box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.10);
											}

													.item{
														width: 100%;
														height:64px;
														display:flex;
														justify-content: space-between;
														align-items: center;
														border-bottom: #CAC4D0 solid 1px;
													}

															.tag{
																display: flex;
																flex-wrap: wrap;
																align-items: center;
															}

																	.remove{
																		width:25px;
																		height: 25px;
																		background-image: url('../image/remove.svg');
																		background-size: 100% 100%;
																		margin-right: 4px;
																	}

																			.remove a{
																				display: block;
																				width: 100%;
																				height: 100%;
																			}

																	.price{
																		font-size: 12px;
																		font-weight: bold;
																	}

															.selected{
																font-size: 12px;
																font-weight: bold;
																text-align: right;
															}

																	.selected span{
																		font-weight: normal;
																	}
													
													.sum{
														width: 100%;
														height:50px;
														display: flex;
														flex-wrap: wrap;
														justify-content: space-between;
														align-items: center;
														padding: 8px;
													}

															.sum-digit{
																font-size: 12px;
																font-weight: bold;
															}

															.sum-text{
																font-size: 12px;
																font-weight: bold;
															}
													
													.add-to-cart{
														width: 133px;
														height:40px;
														
													}

															.add-to-cart a{
																display:block;
																width:100%;
																height:100%;
																border-radius:16px;
																padding:10px 12px;
																background-color:#2B70C9;
																font-size:12px;
																color:#FFF;
																text-align:center;
																text-decoration:none;
															}

									.middle{
										width:47%;
									}
									
											.M1{
												width:100%;
												padding: 20px 15px 20px 25px;
												border-radius:16px;
												background-color:#FFFFFF;
												box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.10);
												display: flex;
											}

													.M1-1{
														width: 90%;
														overflow-x: auto;
														display: flex;
														margin-right: 15px;
													}

															.M1-1 > div{
																display: flex;
																flex-direction: column;
																align-items: center;
																font-size: 10px;
																font-weight: bold;
																justify-content: space-between;
															}

																	.M1-1 a{
																		display: flex;
																		flex-direction: column;
																	}
													
													.M1-2{
														width: 49px;
														display: flex;
														flex-direction: column;
														justify-content: center;
													}

															.M1-2 a{
																display: block;
															}

															.M1-2 img{
																width: 100%;
															}
											
											.M2{
												width:100%;
												font-size:24px;
												font-weight: bold;
												padding:25px 0 15px;
												color:#37474F;
												display: flex;
												justify-content: flex-end;
											}
											
											.M3{
												width:100%;
												background-color:#FFFFFF;
												border-radius: 16px !important;
												overflow: hidden;
												box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.10);
											}

													.M3 table{
														width: 100%;
														direction: rtl;
														color: #191C1D;
														font-size: 12px;
													}

													.M3 table tr td{
														padding:0 10px 0;
														height:48px;
														border-top: #CFD8DC solid 1px;
													}

													.table-header td{
														background-color: #e5e5e5;
														border-top:0 !important;
													}

															.edit{
																direction: ltr;
															}

															.choose{
																display: block;
																text-decoration:none;
																width: 53px;
																line-height:32px;
																border-radius:12px;
																border:1px solid #2B70C9;
																color:#2B70C9;
																font-size: 10px;
																font-weight: bold;
																text-align: center;
															}
											
									.sidebar-right{
										width:27%;
									}
									
											.R1{
												width:100%;
												border-radius:16px;
												background-color:#FFFFFF;
												box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.10);
												direction:rtl;
												padding:10px 25px 0.5px;
											}

													.R1 div{
														width:100%;
														height:48px;
														font-size:12px;
														margin-bottom: 40px;
													}

													.R1 select{
														display:block;
														width: 100%;
														height: 100%;
														padding:5 15px 0 0;
														font-size: 12px;
														font-family:'IRANSansXFaNum-Light';
														color: #191C1D;
														border: 1px solid #CFD8DC;
														border-radius: 16px;
													}

													.R1 label{
														position: relative;
														right: 15px;
														top: 8px;
														background-color: #FFFFFF;
														font-size: 12px;
														color: #191C1D;
														padding: 3px;
													}
												
											
											.R2{
												width:100%;
												padding:30px 0 20px;
												display:flex;
												flex-wrap:wrap;
												justify-content: space-between;
												align-items: center;
											}
													
													.R2-1{
														width:88px;
														height:38px;
													}
													
															.R2-1 a{
																display:block;
																width:100%;
																height:100%;
																border-radius:16px;
																padding:10px 12px;
																background-color:#2B70C9;
																font-size:12px;
																color:#FFF;
																text-align:center;
																text-decoration:none;
															}
													
													.R2-2{
														font-size:24px;
														font-weight: bold;
														color:#37474F;
													}
											
											.R3{
												width:100%;
												margin:auto;
												border-radius:16px;
												background-color:#FFFFFF;
												box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.10);
												display: flex;
												flex-wrap:wrap;
												flex-direction:row-reverse;
												align-content:flex-start;
												align-content: space-between;
												padding:15px;
											}

													.R3-1{
														direction:rtl;
														text-decoration:none;
														width:56px;
														height:56px;
														border-radius:12px;
														border:1px solid #2B70C9;
														color:#2B70C9;
														font-size: 10px;
														font-weight: bold;
														margin:2.5px;
														display: flex;
														justify-content: center;
														align-items: center;
														text-align: center;
														padding: 7px;
														overflow: hidden;
													}
	